
@media screen and (max-width: 768px) {
    .date-picker {
        margin-top: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .time-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .btn:last-of-type {
            margin-left: 0;
        }
    }

    .select {
       width: 100%;
    }
}
