.footer {
    img {
        width: 50%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    h3 {
        font-family: var(--font-serif)
    }
    
    @media screen and (max-width: 768px) {
        h3 {
            padding-top: 3rem;
        }
    }
}