.navbar {
    position: fixed;
    top: 0;
    z-index: 99;

    .menu {
        background-color: rgba(0, 0, 0, 0.8);

        li {
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                color: #222;
            }

             &:focus {
                  color: #CFC1AF;
                  background-color: none ;
             }
            a {
                &:active {
                    background-color: none ;
                    color: white;
                    outline: none;
                }

                &:visited {
                    background-color:rgba(255, 255, 255, 0.8) ;
                    color: white;
                    
                }
            }
            }
    }
}